################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Infrastructure as Code
**/bin/*/*
**/obj/*/*
**/bin/*
**/obj/*
WeatherAPI/bin/Debug/net6.0/*
